@model IEnumerable<SmartUni.Models.EntranceApplicant>
@{
    ViewData["Title"] = "Applicants";
    var count = 1;
}
@if (TempData["Message"] != null)
{
    <script>
        alert('@TempData["Message"]');
        @{
            TempData.Remove("Message");
        }
    </script>
}
<div class="container">
    <div class="card">
        <div class="card-header">List of Applicants</div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover" id="dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Title</th>
                            <th>First Name</th>
                            <th>Middle Name</th>
                            <th>Last Name</th>
                            <th>Phone Number</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@count</td>
                                <td>@item.TitleType.Name</td>
                                <td>@item.FirstName</td>
                                <td>@item.MiddleName</td>
                                <td>@item.LastName</td>
                                <td>@item.PhoneNumber</td>
                                <td>
                                    <a class="btn btn-primary bn-sm" asp-action="Details" asp-route-Id="@item.Id">Details</a> 
                                </td>
                            </tr>
                            count++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>