@model Student
@{
    ViewData["Title"] = "Index";
    int count = 1;
}
<div class="container">
    <div class="card">
        <div class="card-header">Student Planning</div>
        <div class="card-body">
            <div class="col-md-4">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input class="form-control" name="keyword" placeholder="Student ID" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="table-responsive">
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Fullname</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(Model != null)
                        {
                            <tr>
                                <td>@count</td>
                                <td>@Model.LastName @Model.MiddleName @Model.FirstName</td>
                                <td>
                                    <a asp-action="StudentPlanning" asp-route-Id="@Model.Id" class="btn btn-primary">Proceed</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
