@model SmartUni.Models.College
@inject ApplicationDbContext _context;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var departments = _context.Departments.ToList();
    var currencies = new SelectList(_context.CurrencyTypes, "Id", "Name");
    var departmenttypes = new SelectList(_context.DepartmentTypes, "Id", "Name");
    ViewDataDictionary selectList = new ViewDataDictionary(ViewData)
    {
        { "CurrencyID", currencies },
        { "DepartmentTypeID", departmenttypes},
    };
    int count = 1;
}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h4>Details (College)</h4>
        </div>
        <div class="card-body text-light" style="background:darkblue;">
            <div class="container">
                <dl class="row">
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.CollegeType)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.CollegeType.Name)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-6">
                        @Html.DisplayNameFor(model => model.ShortName)
                    </dt>
                    <dd class="col-sm-6">
                        @Html.DisplayFor(model => model.ShortName)
                    </dd>
                </dl>
            </div>
            @if (User.IsInRole("SuperAdmin"))
            {
                <div>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.Id">Edit</a> |
                    <a asp-action="Index" class="btn btn-primary">Back to List</a>
                </div>
            }
            else
            {
                <div>
                    <a asp-action="Index" class="btn btn-primary">Back to List</a>
                </div>
            }
        </div>
    </div>
    <br />
    <button id="toggleButton" class="form-control btn text-light" style="background:darkblue;">Manage Departments</button>
    <br />
    <div class="card" id="hiddenDiv" style="display: none;">
        <div class="card-header">
            List of Departments
        </div>
        <div class="card-body text-light" style="background:darkblue;">
            @await Html.PartialAsync("~/Views/Departments/Create.cshtml",new Department(){ CollegeID = Model.Id }, selectList)
            <br /><br />
            <div class="table-responsive">
                <table class="table text-light" id="dataTable">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Name</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(var item in departments)
                        {
                            <tr>
                                <td>@count</td>
                                <td>@item.Name</td>
                                <td>
                                    <a class="btn btn-warning" asp-route-Id="@item.Id" asp-action="Edit" asp-controller="Departments">Edit</a> |
                                    <a class="btn btn-primary" asp-route-Id="@item.Id" asp-action="Details" asp-controller="Departments">Details</a> |
                                    <a class="btn btn-danger" asp-route-Id="@item.Id" asp-action="Delete" asp-controller="Departments">Delete</a> |
                                </td>
                            </tr>
                            count++;
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#toggleButton").click(function () {
            $("#hiddenDiv").toggle();
        });
    });
</script>

