@model EntranceApplicant
@{
    Layout = "~/Views/Admission/_AdmissionLayout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="background:white;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <img src="~/applicantsphoto/@Model.ImagePath" width="90%" class="img-thumbnail" />

                        </div>
                        <div class="col-md-4"></div>
                    </div>
                    <br /><br />
                    <div class="container">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td><p>BIO DATA</p></td>
                                        <td>
                                            <p>Serial: @Model.StudentId</p>
                                            <p>Name: @Model.TitleType.Name @Model.FirstName @Model.MiddleName @Model.LastName </p>
                                            <p>Date of Birth: @Model.DateofBirth.ToString("yyyy-mm-dd") </p>
                                            <p>Gender: @Model.GenderType.Name</p>
                                            <p>Address Line 1: @Model.AddressLine1</p>
                                            <p>Email Address: @Model.EmailAddress</p>
                                            <p>Phone Number: @Model.PhoneNumber</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><p>EDUCATIONAL BACKGROUND</p></td>
                                        <td>
                                            <p>High School Attended: @Model.HighSchoolAttendedName</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p>PROGRAM INFORMATION</p>
                                        </td>
                                        <td>
                                            <p>Entry Year: @Model.EntryYear</p>
                                            <p>Degree of Choice: @Model.DepartmentDegree.Name</p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="text-center">
                            <form asp-action="ApplicantSummary" method="post" asp-controller="Report">
                                <input type="hidden" value="@Model.Id" name="Id" />
                                <button class="btn btn-success">Export</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br /><br />
        </div>
    </div>
</div>