@inject ApplicationDbContext _context
@model EntranceApplicant
@{
	Layout = "~/Views/Admission/_AdmissionLayout.cshtml";
	ViewData["Title"] = "References";
	var references = await _context.EntranceApplicantReferences
	.Include(p => p.StatusType)
	.Where(x => x.EntranceApplicantID == Model.Id)
	.ToListAsync();

	if (references == null)
	{
		references = new List<EntranceApplicantReference>();
	}
}
<div class="container">
	<div class="card">
		<div class="card-header">
			<p>LIST OF REFERENCES</p>
		</div>
		<div class="card-body">
			@await Html.PartialAsync("~/Views/EntranceApplicantReference/Create.cshtml", new EntranceApplicantReference(){ EntranceApplicantID = Model.Id })
			<br />
			<div class="table-responsive">
				<table class="table" id="dataTable">
					<thead>
						<tr>
							<th>REFEREE NAME</th>
							<th>INSTITUTION</th>
							<th>POSITION</th>
							<th>EMAIL</th>
							<th>STATUS</th>
							<th>ACTION</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in references)
						{
							<tr>
								<td>@item.RefereeName</td>
								<td>@item.Institution</td>
								<td>@item.Position</td>
								<td>@item.EmailAddress</td>
								<td>@item.StatusType.Name</td>
								<td>
									<form asp-action="Delete" asp-controller="EntranceApplicantReferences">
										<input type="hidden" value="@item.Id" name="referenceId"/>
										<button class="btn btn-sm btn-danger">Delete</button>
									</form>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
			<a class="btn btn-danger text-light" asp-action="ProgramInformation">Previous</a> | 
			<a class="btn btn-primary text-light" asp-action="SupportingDocument">Next</a>
		</div>
	</div>
	<br />
</div>
