@{
    Layout = "~/Views/Admission/_AdmissionLayout.cshtml";
    ViewData["Title"] = "Supporting Documents";
}
<div class="container">
	<div class="card">
		<div class="card-header">
			<p>LIST OF SUPPORTING DOCUMENT</p>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table" id="dataTable">
					<thead>
						<tr>
							<th>No.</th>
							<th>Type of Document</th>
							<th>Document</th>
							<th>ACTION</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Test</td>
							<td>Church</td>
							<td>Pastor</td>
							<td>Accepted</td>
						</tr>
						@*@foreach (var item in Model)
						{
						<tr>
						<td>@item.Name</td>
						<td>@item.Institution</td>
						<td>@item.Position</td>
						<td>@item.Email</td>
						<td>@item.Status_Id</td>
						<td>

						</td>
						</tr>
						}*@
					</tbody>
				</table>
			</div>
			<a class="btn btn-danger text-light" asp-action="References">Previous</a> |
			<a class="btn btn-primary text-light" asp-action="UploadPhoto">Next</a>
		</div>
	</div>
	<br />
</div>